version: '3.9'

services:
      
  app:
    build: .
    command: sh -c "npm run build && npm run start:prod"
    ports:
      - "80:5000"
      - "1000:1000"
    volumes:
      - .:/usr/src/app
    extra_hosts:
      - "host.docker.internal:172.17.0.1"

